  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>About Us</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Terms & Conditions </a></li>
            <li><a href="#">Return Policy & Procedure</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><a href="#"><i class="fa-solid fa-phone"></i> <span class="footer-contact">+91 0987654321</span></a></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i> <span class="footer-contact">support@oshmoments.com</span></a></li>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> <span class="footer-contact">WhatsApp Us</span></a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h6>Newsletter</h6>
          <ul class="footer-links">
            <li><a href="#" class="sign-up-btn">Sign Up Now</a></li>
            <li><input type="email" placeholder="Your Email" class="email"></li>
            
          </ul>
        </div>
        
        <div class="col-md-3">
          <h6>Follow Us</h6>
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 202 OSH Moments All Rights Reserved. 
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="down-icons">
            <a href="#"><img width="30" src="../assets/images/card-1.png"></a>
            <a href="#"><img width="30" src="../assets/images/card-2.png"></a>
            <a href="#"><img width="30" src="../assets/images/card-3.png"></a>
          </div>
        </div>
      </div>
    </div>
</footer>